:root {
  --gradient-blue: hsl(249, 99%, 64%);
  --gradient-purple: hsl(278, 93%, 30%);
  --inputerrors-red: hsl(0, 100%, 66%);
  --text-white: hsl(0, 0%, 100%);
  --light-violet: hsl(270, 3%, 87%);
  --dark-violet: hsl(279, 6%, 55%);
  --vdark-violet: hsl(278, 68%, 11%);
  --fs: 18px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--fs);
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
}

.card-section {
  position: relative;
  background-image: url(/images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  font-size: 1rem;
  height: 15rem;
}

.card-front {
  position: absolute;
  display: block;
  width: 75%;
  transform: translate(10%, 76%);
  z-index: 2;
}

.card-logo {
  position: absolute;
  top: 60%;
  left: 15%;
  z-index: 2;
}

.logo {
  width: 70%;
}

.card-number {
  position: absolute;
  color: var(--text-white);
  top: 87%;
  left: 15%;
  z-index: 2;
  font-size: 1.3rem;
}

.card-name {
  position: absolute;
  color: var(--text-white);
  font-size: 0.7rem;
  top: 102%;
  left: 15%;
  z-index: 2;
}

.date {
  position: absolute;
  color: var(--text-white);
  font-size: 0.7rem;
  top: 102%;
  right: 29%;
  z-index: 2;
}

.card-back {
  position: absolute;
  display: block;
  width: 75%;
  transform: translate(27%, 20%);
  z-index: 1;
}

.cvnum {
  position: absolute;
  top: 43%;
  right: 13%;
  color: var(--text-white);
  padding-left: 5em;
  font-size: 0.7rem;
  z-index: 1;
}

.form-section {
  padding-top: 5.5em;
  padding-left: 2em;
}

.title {
  color: var(--vdark-violet);
}

#card-name {
  font-size: 1rem;
  opacity: 0.7;
  color: var(--vdark-violet);
  width: 90%;
  margin-top: 0.6em;
  margin-bottom: 1rem;
  padding: 0.8em 0.6em;
  border: 2px solid var(--light-violet);
  border-radius: 0.5rem;
}

#card-number {
  font-size: 1rem;
  opacity: 0.7;
  color: var(--vdark-violet);
  width: 90%;
  margin-top: 0.6em;
  margin-bottom: 1rem;
  padding: 0.8em 0.6em;
  border: 2px solid var(--light-violet);
  border-radius: 0.5rem;
}

.row {
  display: flex;
}

.exp {
  font-size: 1rem;
}

#month {
  font-size: 1rem;
  opacity: 0.7;
  color: var(--vdark-violet);
  width: 35%;
  margin-top: 0.6em;
  margin-bottom: 1rem;
  padding: 0.8em 0.6em;
  border: 2px solid var(--light-violet);
  border-radius: 0.5rem;
}

#year {
  font-size: 1rem;
  opacity: 0.7;
  color: var(--vdark-violet);
  width: 35%;
  margin-top: 0.6em;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.8em 0.6em;
  border: 2px solid var(--light-violet);
  border-radius: 0.5rem;
}

.cv {
  margin-left: -3rem;
  margin-top: 0.1em;
}

#cvc {
  font-size: 1rem;
  opacity: 0.7;
  color: var(--vdark-violet);
  width: 65%;
  margin-top: 0.6em;
  margin-bottom: 1rem;
  padding: 0.8em 0.6em;
  border: 2px solid var(--light-violet);
  border-radius: 0.5rem;
}

.confirm-btn {
  width: 90%;
  color: var(--light-violet);
  background-color: var(--vdark-violet);
  padding: 0.8em 0.6em;
  border: 0 solid var(--dark-violet);
  border-radius: 0.5rem;
}

.complete {
  display: none;
  width: 80%;
  padding-top: 2em;
  padding-left: 2rem;
  text-align: center;
}

.complete img {
  padding-left: 1em;
  padding-bottom: 1.5em;
}

h1 {
  color: var(--vdark-violet);
  opacity: 1;
}

.complete p {
  color: var(--dark-violet);
  padding-bottom: 1.5em;
}

.complete-btn {
  width: 100%;
  color: var(--light-violet);
  background-color: var(--vdark-violet);
  padding: 0.8em 0.6em;
  border: 0 solid var(--dark-violet);
  border-radius: 0.5rem;
}

.card-name-error,
.card-number-error,
.month-error,
.year-error,
.cvc-error {
  color: var(--inputerrors-red);
}

input::placeholder {
  font-family: inherit;
  color: var(--dark-violet);
  opacity: 0.6;
}

input[type='text'] {
  font-family: inherit;
}

input:focus {
  outline-color: var(--gradient-purple);
}

/* DESKTOP STYLES */
@media (min-width: 56em) {
  body {
    display: flex;
    align-items: center;
  }

  .card-section {
    position: relative;
    background-image: url(/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 25%;
    font-size: 1rem;
    height: 100vh;
  }

  .card-front {
    width: 78%;
    transform: translate(53%, 95%);
  }

  .card-logo {
    top: 23%;
    left: 48%;
  }

  .card-number {
    top: 33%;
    left: 48%;
    font-size: 1.1rem;
    width: 98%;
  }

  .card-name {
    top: 38%;
    left: 48%;
  }

  .date {
    top: 38%;
    right: -5%;
  }

  .card-back {
    width: 75%;
    transform: translate(76%, 220%);
  }

  .cvnum {
    top: 56%;
    right: -20%;
  }

  .form-section {
    padding-top: 1em;
    padding-left: 12em;
  }

  .complete {
    padding-left: 4em;
    margin-top: -8em;
    width: 100%;
  }
}
